/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main Styles */

body {
  background-color: rgb(18, 10, 54);
}

.playlist-header {
  display: flex;
  gap: 20px;
  margin-bottom: 2em;
  align-items: center;
  padding-left: 3em;
}

.playlist-header .playlist-image {
  background-color: white;
  border-radius: 10px;
  height: 200px;
  width: 200px;
}

.playlist-header p {
  color: white;
  font-size: 20px;
}

h2 {
  font-size: 4rem;
  color: white;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.header {
  background-color: rgb(37, 37, 37);
  color: white;
  display: flex;
  gap: 3em;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
}

.main-header {
  display: flex;
  align-items: center;
  gap: 3em;
}

.nav-links {
  display: flex;
  gap: 2em;
}

.nav-links p {
  cursor: pointer;
}

.content {
  padding: 1em;
}

.song-section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.song {
  width: 200px;
  height: 200px;
  background-color: #EFEFEF;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  outline: none;
  background-color: #1DB954;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
}